@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --aqua-green: #47cfac;
    --dark-aqua-green: #2e8a73;
}

body {
    max-width: 100vw;
    min-height: 100vh;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 35px 1fr;
}
.icons__container {
    display: grid;
    background-color: var(--aqua-green);;
}
.icons__container .icons {
    width: 300px;
    display: flex;
    place-items: center;
    justify-content: space-between;
    justify-self: flex-end;
    margin-right: 30px;
}

.icons span:before {
    font-size: 27px;
    color: white;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    align-content: center;
    align-items: center;
}
.nav__logo-container {
    margin-left: 30px;
}

.nav__profile-link {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;

}
.nav__profile-link a {
    display: inline;
    background-color: var(--aqua-green);
    padding: 15px 17px;
    margin: 0;
    font-size: 0.8rem;
    color: white;
    height: 20px;
    line-height: 0px;
    border-radius: 20px;
    transition: background-color .3s;

}
.nav__profile-link a:hover {
    background: var(--dark-aqua-green)
}

.nav__logo-container a img {
    width: 220px;
    height: 90px;
}

/* MAIN CONTAINER */
.container {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    margin: 0 auto;
    gap: 0 20px;
}

.blog {
    display: flex;
    flex-direction: column;
    background-color: var(--aqua-green);
    border-radius: 15px;
    height:fit-content;
    overflow: hidden;
    margin-bottom: 20px;
    transition: filter .5s;
}
.blog:hover {
    filter: brightness(1.1)
}

.blog__img-container {
    width: 100%;
    overflow: hidden;
}
.blog__img-container img {
    max-width: 100%;
}
.blog__description {
    color: white;
    font-size:.8rem;
    word-wrap:break-word;
    margin: 15px 10px;
    max-height: 300px;
    overflow: hidden;
}
.blog__button {
    background-color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    margin: 0 auto;
    transition: filter .3s;
    margin-bottom: 15px;
}
.blog__button:hover {
    filter: brightness(.9)
}
.s1 {
    grid-row-end: span 4
}
.s2 {
    grid-row-end: span 5;
}
.s3 {
    grid-row-end: span 6;
}
.s4 {
    grid-row-end: span 7;
}
.s5 {
    grid-row-end: span 8;
}
.s6 {
    grid-row-end: span 9;
}
.s7 {
    grid-row-end: span 10;
}

/*
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
*/